/*
 *  GEMMA/GRID
 *
 *  Flexbox-based grid system, adapted from:
 *  https://philipwalton.github.io/solved-by-flexbox/demos/grids/
 *  and https://github.com/kristoferjoseph/flexboxgrid
 *
 *  Currently only supports up to 4 columns.
 *
 */

/* By default no width is specified; thus, o-container inherits full width */
.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* A row, which contains columns */
/* Negative L/R margins are set, and later overridden by L/R padding
 * of column objects, in order to obtain grid gutters. */
.o-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

/* Align columns to horizontal centre */
.o-row--center {
  justify-content: center;
}

/* Align columns so horizontal space between them is equal */
.o-row--between {
  justify-content: space-between;
}

/* Align columns so horizontal space around them is equal */
.o-row--around {
  justify-content: space-around;
}

/* Align columns to top of the row */
.o-row--top {
  align-items: flex-start;
}

/* Align columns to vertical middle of the row */
.o-row--middle {
  align-items: center;
}

/* Align columns to bottom of the row */
.o-row--bottom {
  align-items: flex-end;
}

.o-col,
.o-col-oneWhole,
.o-col-oneHalf,
.o-col-oneThird,
.o-col-oneQuarter,
.o-col-twoThirds,
.o-col-threeQuarters,
.o-col-offset-oneHalf,
.o-col-offset-oneThird,
.o-col-offset-oneQuarter,
.o-col-offset-twoThirds,
.o-col-offset-threeQuarters,
.o-col-md-oneWhole,
.o-col-md-oneHalf,
.o-col-md-oneThird,
.o-col-md-oneQuarter,
.o-col-md-twoThirds,
.o-col-md-threeQuarters,
.o-col-md-offset-oneHalf,
.o-col-md-offset-oneThird,
.o-col-md-offset-oneQuarter,
.o-col-md-offset-twoThirds,
.o-col-md-offset-threeQuarters,
.o-col-lg-oneWhole,
.o-col-lg-oneHalf,
.o-col-lg-oneThird,
.o-col-lg-oneQuarter,
.o-col-lg-twoThirds,
.o-col-lg-threeQuarters,
.o-col-lg-offset-oneHalf,
.o-col-lg-offset-oneThird,
.o-col-lg-offset-oneQuarter,
.o-col-lg-offset-twoThirds,
.o-col-lg-offset-threeQuarters {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Columns without width parameters will automatically be split into equal-
 * width columns within a row */
.o-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

/*
 *  Columns from min-width 0 and up
 */

.o-col-oneWhole {
  flex-basis: 100%;
  max-width: 100%;
}

.o-col-oneHalf {
  flex-basis: 50%;
  max-width: 50%;
}

.o-col-oneThird {
  flex-basis: 33.333333333%;
  max-width: 33.333333333%;
}

.o-col-oneQuarter {
  flex-basis: 25%;
  max-width: 25%;
}

.o-col-twoThirds {
  flex-basis: 66.666666666%;
  max-width: 66.666666666%;
}

.o-col-threeQuarters {
  flex-basis: 75%;
  max-width: 75%;
}

.o-col-offset-oneHalf {
  margin-left: 50%;
}

.o-col-offset-oneThird {
  margin-left: 33.333333333%;
}

.o-col-offset-oneQuarter {
  margin-left: 25%;
}

.o-col-offset-twoThirds {
  margin-left: 66.666666666%;
}

.o-col-offset-threeQuarters {
  margin-left: 75%;
}

/*
 *  Columns from md breakpoint and up
 */

@media (--screen-md) {
  ._md-o-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  ._md-o-col-oneWhole {
    flex-basis: 100%;
    max-width: 100%;
  }

  ._md-o-col-oneHalf {
    flex-basis: 50%;
    max-width: 50%;
  }

  ._md-o-col-oneThird {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;
  }

  ._md-o-col-oneQuarter {
    flex-basis: 25%;
    max-width: 25%;
  }

  ._md-o-col-twoThirds {
    flex-basis: 66.666666666%;
    max-width: 66.666666666%;
  }

  ._md-o-col-threeQuarters {
    flex-basis: 75%;
    max-width: 75%;
  }

  ._md-o-col-offset-oneHalf {
    margin-left: 50%;
  }

  ._md-o-col-offset-oneThird {
    margin-left: 33.333333333%;
  }

  ._md-o-col-offset-oneQuarter {
    margin-left: 25%;
  }

  ._md-o-col-offset-twoThirds {
    margin-left: 66.666666666%;
  }

  ._md-o-col-offset-threeQuarters {
    margin-left: 75%;
  }
}

/*
 *  Columns from lg breakpoint and up
 */

@media (--screen-lg) {
  ._lg-o-container {
    max-width: 1024px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  ._lg-o-col-oneWhole {
    flex-basis: 100%;
    max-width: 100%;
  }

  ._lg-o-col-oneHalf {
    flex-basis: 50%;
    max-width: 50%;
  }

  ._lg-o-col-oneThird {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;

  }

  ._lg-o-col-oneQuarter {
    flex-basis: 25%;
    max-width: 25%;
  }

  ._lg-o-col-twoThirds {
    flex-basis: 66.666666666%;
    max-width: 66.666666666%;
  }

  ._lg-o-col-threeQuarters {
    flex-basis: 75%;
    max-width: 75%;
  }

  ._lg-o-col-offset-oneHalf {
    margin-left: 50%;
  }

  ._lg-o-col-offset-oneThird {
    margin-left: 33.333333333%;
  }

  ._lg-o-col-offset-oneQuarter {
    margin-left: 25%;
  }

  ._lg-o-col-offset-twoThirds {
    margin-left: 66.666666666%;
  }

  ._lg-o-col-offset-threeQuarters {
    margin-left: 75%;
  }
}

/*
 *  Columns from xl breakpoint and up
 */

@media (--screen-xl) {
  ._xl-o-container {
    max-width: 1024px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  ._xl-o-col-oneWhole {
    flex-basis: 100%;
    max-width: 100%;
  }

  ._xl-o-col-oneHalf {
    flex-basis: 50%;
    max-width: 50%;
  }

  ._xl-o-col-oneThird {
    flex-basis: 33.333333333%;
    max-width: 33.333333333%;

  }

  ._xl-o-col-oneQuarter {
    flex-basis: 25%;
    max-width: 25%;
  }

  ._xl-o-col-twoThirds {
    flex-basis: 66.666666666%;
    max-width: 66.666666666%;
  }

  ._xl-o-col-threeQuarters {
    flex-basis: 75%;
    max-width: 75%;
  }

  ._xl-o-col-offset-oneHalf {
    margin-left: 50%;
  }

  ._xl-o-col-offset-oneThird {
    margin-left: 33.333333333%;
  }

  ._xl-o-col-offset-oneQuarter {
    margin-left: 25%;
  }

  ._xl-o-col-offset-twoThirds {
    margin-left: 66.666666666%;
  }

  ._xl-o-col-offset-threeQuarters {
    margin-left: 75%;
  }
}
