/*
 * GEMMA/Z-INDEX UTILITIES
 *
 * For setting z-axis stacking order
 *
 */

.u-zn5 { z-index: -5; }
.u-zn4 { z-index: -4; }
.u-zn3 { z-index: -3; }
.u-zn2 { z-index: -2; }
.u-zn1 { z-index: -1; }
.u-z0 { z-index: 0; }
.u-z1 { z-index: 1; }
.u-z2 { z-index: 2; }
.u-z3 { z-index: 3; }
.u-z4 { z-index: 4; }
.u-z5 { z-index: 5; }
