/*
 * GEMMA/ALIGN
 *
 * Set text-alignment.
 *
 */

.align-left { text-align: left !important; }
.align-right { text-align: right !important; }
.align-center { text-align: center !important; }

@media (--screen-md) {
  ._md-align-left { text-align: left !important; }
  ._md-align-right { text-align: right !important; }
  ._md-align-center { text-align: center !important; }
}

@media (--screen-lg) {
  ._lg-align-left { text-align: left !important; }
  ._lg-align-right { text-align: right !important; }
  ._lg-align-center { text-align: center !important; }
}

@media (--screen-xl) {
  ._xl-align-left { text-align: left !important; }
  ._xl-align-right { text-align: right !important; }
  ._xl-align-center { text-align: center !important; }
}

